<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--settings：控制mybatis全局行为-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!--设置别名-->
    <typeAliases>
        <!--name：实体类所在的包名-->
<!--        <typeAlias type="com.ssm.entity.User" alias="user"/>-->
        <package name="com.bdqn.entity"/>
    </typeAliases>

    <!--sql mapper(sql映射文件的位置 -->
<!--    <mappers>
        &lt;!&ndash;name:是包名,这个包中的所有mapper.xml一次都能加载&ndash;&gt;
        <package name="com.ssm.mapper"/>
    </mappers>-->
</configuration>
